:root {
  --clr-red: hsl(5, 90%, 64%);
  --clr-light-red: hsl(5, 90%, 67%);
  --clr-pink: hsl(0, 100%, 96%);
  --clr-grey-blue: hsl(219, 18%, 36%);
  --clr-dark-blue: hsla(217, 92%, 10%, 0.761);
  --clr-light-grey: hsl(240, 2%, 67%);
  --clr-lighter-grey: hsl(240, 2%, 67%, 0.35);
  --clr-off-white: hsl(255, 50%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
}